<!-- templates/chatbot.html -->
<div id="chatbot">
    <div id="chatbot-header">
        <h5>Chatbot</h5>
        <button id="chatbot-close">&times;</button>
    </div>
    <div id="chatbot-body">
        <div id="chatbot-messages"></div>
        <div id="chatbot-input">
            <input type="text" id="chatbot-user-input" placeholder="Type your message..." autocomplete="off">
            <button id="chatbot-send">Send</button>
        </div>
    </div>
</div>
<button id="chatbot-open">Chat</button>
