<!-- templates/register_team.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Register Team</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-control-label") }}
        {{ form.name(class="form-control") }}
        {% for error in form.name.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.sport.label(class="form-control-label") }}
        {{ form.sport(class="form-control") }}
        {% for error in form.sport.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.institution.label(class="form-control-label") }}
        {{ form.institution(class="form-control") }}
        {% for error in form.institution.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}
