{% extends './public/base.html' %}

{% block title %}Tournament Overview - TEVISA{% endblock %}

{% block sport %} selected {% endblock %}

{% block content %}

<div class="container my-4">
    <!-- Tournaments Section -->
    <section id="tournaments" class="mb-5">
        <h2 class="text-center mb-3">Current Tournaments</h2>
        <div class="row">
            {% for tournament in tournaments %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ tournament.name }}</h5>
                        <p class="card-text text-center">Start Date: {{ tournament.start_date }} </p>
                        <p class="card-text text-center">End Date: {{ tournament.end_date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Games Section -->
    <section id="games" class="mb-5">
        <h2 class="text-center mb-3">Upcoming Games</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fixture Date</th>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Tournament</th>
                </tr>
            </thead>
            <tbody>
                {% for fixture in fixtures %}
                <tr>
                    <td>{{ fixture.date }}</td>
                    <td>{{ fixture.team1_name }}</td>
                    <td>{{ fixture.team2_name }}</td>
                    <td>{{ fixture.tournament_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Results Section -->
    <section id="results" class="mb-5">
        <h2 class="text-center mb-3">Game Results</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Team 1</th>
                    <th>Team 1 Score</th>
                    <th>Team 2</th>
                    <th>Team 2 Score</th>
                </tr>
            </thead>
            <tbody>
                {% for game_result in game_results %}
                <tr>
                    <td>{{ game_result.date }}</td>
                    <td>{{ game_result.team1 }}</td>
                    <td>{{ game_result.team1_score }}</td>
                    <td>{{ game_result.team2 }}</td>
                    <td>{{ game_result.team2_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Standings Section -->
    <section id="standings" class="mb-5">
        <h2 class="text-center mb-3">Team Standings</h2>
        <table class="table table-striped mb-4">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for game_standing in game_standings %}
                <tr>
                    <td>{{ game_standing.Team }}</td>
                    <td>{{ game_standing.Played }}</td>
                    <td>{{ game_standing.Won }}</td>
                    <td>{{ game_standing.Drawn }}</td>
                    <td>{{ game_standing.Lost }}</td>
                    <td>{{ game_standing.Points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>
{% endblock %}